$dark-primary: #22252d;
$dark-brighter: #292d36;
$near-white: #f9f9f9;
$dark-button: #272b33;
$grey: rgb(241, 241, 241);
$dark-grey: rgb(219, 216, 216);

.input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 20px;
  width: 100vw;
  height: 60vh;
  background-color: $dark-brighter;
  border-radius: 30px 30px 0px 0px;

  .input__buttonContainer {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: $dark-button;

    .input__button {
      font-size: 1.3em;
      font-weight: bold;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: 0px;
    }

    .input__button:hover {
      background-color: #414449;
      transition: background-color 0.3s ease;
    }
  }
}
