.light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;

  .light__button {
    width: 10vw;
    height: auto;
    background-color: rgb(196, 199, 202);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 5vh;
      max-width: 5vh;
      background-color: transparent;
      filter: brightness(0) invert(1);
    }

    .light__darkImage {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }

  .light__bright {
    border-radius: 10px 0px 0px 10px;
  }

  .light__dark {
    border-radius: 0px 10px 10px 0px;
  }
}

.light__button:hover {
  background-color: #414449;
  transition: background-color 0.3s ease;
}
