.screen {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 30vh;
  width: 100vw;
  border: 1px solid white;

  .screen__display {
    padding: 40px;
    padding-bottom: 0;
    font-size: 2em;
  }
}
