.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 30vh;
  width: 100vw;
  // border: 1px solid white;

  .screen__display {
    font-size: 3em;
    font-weight: bold;
    padding-right: 30px;
  }

  .screen__sum {
    padding-right: 30px;
    font-size: 1.5em;
    font-weight: bold;
  }
}
