@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

$dark-primary: #22252d;
$dark-brighter: #292d36;
$near-white: #f9f9f9;
$dark-button: #272b33;
$grey: rgb(224, 224, 224);
$dark-grey: rgb(219, 216, 216);

* {
  background-color: $dark-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $near-white;
  font-family: "Rubik", sans-serif;
}

// .input__button {
//   &.large {
//     font-size: 1.5em;
//   }
// }
